/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #12bca2;
  --secondary: #6d15df;
}
h1,h2,h3 {
  margin: 0;
}

body {
  margin: 0;
  color: #333;
  font-family: 'Poppins';
  background: #f2f2f2;
}
nav {
  background: var(--primary);
  padding: 10px 20px;
  text-align: center;
}
nav a {
  color: #f2f2f2;
  margin: 10px;
  display: inline-block;
}
nav h1 {
  color: #fff;
}
.page {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}*/


* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Lato';
  background: url("museum_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5%;
}

.header {
  text-align: center;
  color: #000000;
}

h2{
  font-family: 'Libre Baskerville';
    font-size: 2rem;
}

.title{
  margin-bottom: 4%;
}

h3{
  font-family: 'Libre Baskerville';
}

form{    
  background: #FFFFFF;
}

.psw{
  color: red;
}

a{
  text-decoration: none;
}

.clear{
  clear: both;
}





/************************************************** MODAL STYLING ***************************************************/
.modal {
  display: none;
  /*position: fixed;*/
  z-index: 1;
  padding-top: 100px;
  /*left: 0;
  right: 0;*/
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal_content {
  width: 50%;
  height: 315px;
  background-color: #fff;
  position: relative;
  margin:auto;
  padding:1em;
  overflow: hidden;
  border: 2px solid rgba(0,0,0,1);
}

.modal_text{
  font-family: Montserrat;
  font-weight: SemiBold;
}

.btn {
  /*text-align: center;*/
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  width: 126px;
  height: 59px;
  font-family: Montserrat;
  opacity: 1;
  top: 228px;
  left: 368px;
  overflow: hidden;
}

/************************************************** BUTTON STYLING ***************************************************/
button{
  float:right;
  border:2px solid #C50019;
  margin-left: 0.5rem;
}
.wht_btn{
  background-color: #fff;
}
.red_btn{
  background-color: rgba(197,0,25,1);
  color: #fff;
}

/************************************************** TABS STYLING ***************************************************/

.tab{
  color: #fff;
  font-family: Montserrat;
  padding: 1%;
}
.red_tab{
  background-color: #C50019;
}
.blue_tab{
  background-color: #00244A;
}

.clear_tab{
  color: #00244A;
  float:right;
}

    /************************************************** TABLE STYLING ***************************************************/
table{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top:0;
  padding-top: 5%;
  padding-bottom: 5%;
  clear: both;
}

fieldset{
  border: none;
}


.input_full{
  display: block;
  width: 100%;
  line-height:1.7rem;
}

.input_half{
  width:50%;
  float:right;
}

.input_full, .input_half{
  background-color: #D9D9D9;
  border: none;
  line-height: 1.5rem;
}

label{
  margin-top: 3%;
}

.form_group{
  clear:both;
  padding-top: 2%;
}



  /************************************************** LOGIN PAGE STYLING ***************************************************/

form{
padding-left: 5%;
padding-top: 3%;
padding-bottom: 10%;
margin-left: 10%;
margin-right: 10%;

}


.left{
width:50%;
padding-right: 10%;
}

#login_btn{
margin-top: 10%;
float: right;
}

  /************************************************** DIV STYLING ***************************************************/

.centre{
width:95%; 
margin-left: auto;
margin-right: auto;
}


.table_div{
background-color: #fff;  
clear:both;
padding-right:5%;
padding-bottom: 5%;
}

.main_div {
  position:fixed;
  bottom:10px;
  right:10px;
  font-family: Montserrat;
}

  /************************************************** POINT OF INTEREST STYLING ***************************************************/
#artefacts{
width:25%;
line-height: 2rem;
}

#description{
line-height: 5rem;
}
